<!DOCTYPE html>
<html>
<head>
    <title>Chess</title>
    <% include ../partials/head.ejs %>
</head>
<body>
    <header>
        <% include ../partials/header.ejs %>
    </header>
    <main>
            <!-- Index Content -->
            <div id = "content-container">
                <div id="board1" style="width: 400px"></div>
                <button id="startBtn">Start Position</button>
                <button id="clearBtn">Clear Board</button>
                <!-- Link to Contact -->
                <div class = "infolink">
                    <a href = "/about">
                        <div class="infotext">
                            <h3>Contact Us</h3>
                            <p>We want to here from you. Send us your feedback and questions to help us improve the website.</p>
                        </div>
                    </a>
                </div>
            </div>

        <!-- Login Box
        <% include ../partials/loginbox.ejs %>
        -->
    </main>

    <!-- Login Box
    <footer>
        <% include ../partials/footer.ejs %>
    </footer>
    <% include ../partials/scripts.ejs %>
    -->

</body>

</html>
